body {
  font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  margin: 1em;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  background-color: white;
  color: rgb(36, 36, 36);
}

.container {
  width: 90vw;
  max-width: 70ch;
  padding-bottom: 48px;
  height: fit-content;
}

.navbar-content {
  width: 90vw;
  max-width: 70ch;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.container > p {
  line-height: 32px;
  font-size: 20px;
  margin-top: 42px;
  margin-bottom: -8px;
  font-family: "Georgia", "Times New Roman", serif;
}

.container > h2 {
  margin-top: 46px;
  margin-bottom: -24px;
  font-size: 24px;
  line-height: 30px;
}

.container > img {
  width: calc(100% - 80px);
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 56px;
}

.container * li {
  font-size: 20px;
  line-height: 32px;

  font-family: "Georgia", "Times New Roman", serif;
}

.navbar {
  display: flex;
  justify-content: center;
}

.links {
  display: flex;
  gap: 1rem;
}

.logo {
  width: 48px;
  height: 48px;
}

.title {
  margin-top: calc(
    52px + 48px
  ); /* This is a hack to make the title appear below the sticky navbar, navbar height is 84px */
  margin-bottom: -14px;
  line-height: 38px;
}

.sticky {
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  width: calc(100vw - 2em);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom: 1px solid #c4c4c4;
}

@media (max-width: 600px) {
  .title {
    margin-top: calc(
      52px + 32px
    ); /* This is a hack to make the title appear below the sticky navbar, navbar height is 84px */
    margin-bottom: 24px;
  }
  .container > h2 {
    margin-top: 24px;
    font-size: 20px;
    margin-bottom: -16px;
    line-height: 24px;
  }

  .container > p {
    margin-top: 28px;
    font-size: 18px;
    line-height: 28px;
  }

  .container > img {
    margin-top: 40px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
  }

  .container * li {
    font-size: 18px;
    line-height: 28px;
  }

  .sticky {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}

.visible {
  display: block;
}
.invisible {
  display: none;
}
